/*all*/
*{
	margin:0;
	padding:0;
	border:none;
	font-family: "Microsoft Yahei";
}
a{
	text-decoration: none;
}
h2,h3{
	font-weight: normal;
}
/*header开始*/
.header{
	height:60px;
	width:100%;
	background:rgba(0,0,0,0);
	position:fixed;
	z-index: 3;
}
.header_logo{
	float:left;
	width:150px;
	height:40px;
	line-height:40px;
	margin:10px 0 0 10px;
	padding-left:50px;
	font-size:16px;
	color:#FFF;
	font-weight: bold;
	background: url(../img/logo.png)no-repeat center left;
}
.header_nav{
	float:right;
	height:40px;
	line-height:40px;
	margin-top: 10px;
	padding-right: 30px;
	position: relative;
}
.header_nav-item{
	color:#FFF;
	padding:0 20px;
}
.header_nav-item-button{
	padding:0;
	margin-left: 20px;
	text-align: center;
	background: #f01400;
	border-radius:3px;
	width:90px;
	color: #fff;
	display: block;
	float:right;
}
/*第一屏*/
.section-1{
	width:100%;
	height:640px;
	background:url(../img/sc1.jpg)no-repeat center;
	background-size:cover;
	overflow:hidden;
}
.section-1_wrap{
	width:1200px;
	height:100%;
	margin:0 auto;
	text-align: center;
	position:relative;
}
.section-1_title{
	font-size: 42px;
	color:#fff;
	font-weight: bold;
	margin-top:240px;
}
.section-1_subtitle{
	font-size: 15px;
	color: #fff;
	margin-top: 25px;
	opacity: 0;
}

/*第二屏*/
.section-2{
	width:100%;
	height:640px;
	background: #f3f5f7;
	overflow: hidden;
}
.section-2_wrap{
	width: 1200px;
	height:640px;
	margin:0 auto;
	text-align: center;
	position: relative;
}
.section-2_title{
	font-size: 42px;
	color: #07111b;
	font-weight: bold;
	padding-top: 90px;
}
.section-2_line{
	width: 50px;
	height: 2px;
	background: red;
	left:0;
	right: 0;
	margin:auto;
	margin-top: 30px;
}
.section-2_subtitle{
	font-size: 15px;
	color: #07111b;
	line-height: 21px;
	margin-top: 20px;
}
.section-2_bg1{
	width: 750px;
	height: 360px;
	background: url(../img/sc2.png)no-repeat;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-375px;
}
.section-2_bg2{
	width: 275px;
	height: 380px;
	z-index:2;
	background: url(../img/sc2-1.png)no-repeat center;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-137.5px;
}
.section-2_bg3{
	width: 266px;
	height: 205px;
	z-index: 1;
	background: url(../img/sc2-2.png)no-repeat center;
	position:absolute;
	bottom:100px;
	left:50%;
	margin-left: -30px;
}
/*第三屏*/
.section-3{
	width: 100%;
	height: 640px;
	background:#2b333b;
	position: relative;
}
.section-3_bg{
	width:308px;
	height:340px;
	background:url(../img/sc3.png)no-repeat center center;
	position: absolute;
	top: 50%;
	margin-top: -170px;
	left:50px;
	transform: scale(0.3);
}
.section-3_wrap{
	width: 1200px;
	height:100%;
	margin:0 auto;
	position: relative;
}
.section-3_wrap_container{
	width:520px;
	height:420px;
	position:absolute;
	right: 0;
	bottom: 0;
}
.section-3_title{
	font-size: 34px;
	color: #fff;
	font-weight: bold;
}
.section-3_line{
	width: 50px;
	height: 2px;
	background: red;
	margin:25px;
}
.section-3_subtitle{
	color: #fff;
	font-size: 15px;
	line-height: 21px;
}
.section-3_classfiy{
	position:absolute;
	bottom:50px;
}
.section-3_classfiy-item{
	display:block;
	float:left;
	width: 55px;
	height:55px;
	border-radius: 50%;
	border:4px solid white;
	font-size:9px;
	line-height:55px;
	text-align: center;
	margin:0 15px;
}	
.section-3_classfiy-item:nth-child(1){
	color:#02a4ca;
	border-color:#1f5975;
}
.section-3_classfiy-item:nth-child(2){
	color:#7888de;
	border-color:#424d76;
}
.section-3_classfiy-item:nth-child(3){
	color:#ff6060;
	border-color:#6b4146;
}
.section-3_classfiy-item:nth-child(4){
	color:#25c7da;
	border-color:#29535f;
}
.section-3_classfiy-item:nth-child(5){
	color:#90b045;
	border-color:#3e4e40;
}
/*第四屏*/
.section-4{
	width:100%;
	height: 640px;
}
.section-4_wrap{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	text-align: center;
}
.section-4_title{
	font-size:40px;
	color:#07111b;
	font-weight: bold;
	padding-top: 90px;
}
.section-4_line{
	width: 50px;
	height: 2px;
	background: red;
	left:0;
	right: 0;
	margin:auto;
	margin-top: 30px;
}
.section-4_subtitle{
	font-size: 15px;
	color: #07111b;
	line-height: 21px;
	margin-top: 20px;
}
.section-4_trait{
	position:absolute;
	left:50%;
	margin-left: -530px;
	margin-top: 80px;
}
.section-4_trait-item{
	width: 165px;
	height:20px;
	font-size: 15px;
	color: #07111b;
	text-align: center;
	float: left;
	padding-top: 90px;
	margin:0 50px;
}
.section-4_trait-item:nth-child(1){
	background:url(../img/sc4-1.png)no-repeat top;
}
.section-4_trait-item:nth-child(2){
	background:url(../img/sc4-2.png)no-repeat top;
}
.section-4_trait-item:nth-child(3){
	background:url(../img/sc4-3.png)no-repeat top;
}
.section-4_trait-item:nth-child(4){
	background:url(../img/sc4-4.png)no-repeat top;
}
/*第五屏*/
.section-5{
	width: 100%;
	height: 640px;
	background:url(../img/sc5.jpg)no-repeat center center;
	background-size: cover;	
	overflow: hidden;
}
.section-5_wrap{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	text-align: center;
}
.section-5_bg{
	background: url(../img/sc5-1.png)no-repeat center;
	width: 200px;
	height: 200px;
	margin:0 auto;
	margin-top: 100px;
	transform:translate(0,-60px) scale(0.4);
}
.section-5_title{
	font-size:40px;
	color:#fff;
	font-weight: bold;
	margin-top: 50px;
}
.section-5_line{
	width: 50px;
	height: 2px;
	background: #fff;
	left:0;
	right: 0;
	margin:auto;
	margin-top: 30px;
}
.section-5_subtitle{
	font-size: 15px;
	color: #fff;
	line-height: 21px;
	margin-top: 20px;
}
/*第六屏*/
.section-6{
	height:200px;
	width:100%;
	overflow: hidden;
}
.section-6_button{
	display: block;
	width:240px;
	height: 60px;
	border:1px solid #707070;
	text-align: center;
	line-height: 60px;
	border-radius:3px;
	color: #14191e;
	font-size: 18px;
	margin:0 auto;
	margin-top: 70px;
}
.section-6_button:hover{
	color:#f01400;
}
/*底部*/
.footer{
	width: 100%;
	height: 105px;
	background: #000;
	text-align: center;
	overflow: hidden;
}
.footer_link{
	margin-top: 30px;
}
.footer_link-item{
	color:#c8cdd2;
	font-size: 12px;
	margin:0 20px;
}
.footer_copyright{
	color:#787d82;
	font-size:13px;
	margin-top: 10px;
}
/*侧边栏*/
.outline{
	width:50px;
	border-radius:3px;
	position: fixed;
	right:0;
	bottom: 120px;
	background:#fff;
	text-align: center;
	box-shadow: 0 0 4px #707070;
}
.outline-item{
	display: block;
	padding:10px 0;
	margin:0 11px;
	font-size: 14px;
	color:#555;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.outline-item:last-child{
	border-bottom:none;
}


